@model IEnumerable<Bag>
<h1>My Bag</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Update Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <form asp-action="UpdateQuantity" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" name="quantity" class="btn btn-outline-primary" value="@(item.Quantity + 1)">+</button>
                            <button type="submit" name="quantity" class="btn btn-outline-primary" value="@(item.Quantity - 1)">-</button>
                        </form>
                    </td>
                    <td>@item.Price</td>
                    <td>
                        <form asp-action="UpdateQuantity" method="post" style="display:flex; gap:5px;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />

                            <input type="number"
                                   name="quantity"
                                   value="@item.Quantity"
                                   min="1"
                                   class="form-control"
                                   style="width:70px;" />

                            <button type="submit" class="btn btn-primary btn-sm">
                                Update
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Remove" asp-route-id="@item.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                }       
        </tbody>
    </table>
</div>
<div class="total">
    <p>Total Items: @ViewBag.TotalQuantity</p>
    <p>Total Price: @ViewBag.TotalPrice</p>
</div>
<div class="continue-shopping">
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary w-50">Continue Shopping</a>
    @if (Model.Any())
    {
    <a asp-action="Choice" asp-controller="Choice" class="btn btn-success w-50">
        Buy
        </a>
    }
    else
    {
        <a class="btn btn-danger w-50" disabled title="Cart is Empty">
            Cart is Empty
        </a>
    }
</div>
